<div class="dashboard-container">

  <!-- Órdenes actuales -->
  <section class="orders-section">
    <h2>Órdenes Actuales</h2>
    <div class="orders-list">
      <div *ngFor="let order of orders" class="order-card" [ngClass]="getStatusClass(order.status)">
        <h3>Mesa {{ order.table }} - {{ order.client }}</h3>
        <p><strong>Estado:</strong> {{ order.status }}</p>
        <p class="mensaje"><strong>Mensaje:</strong> {{ order.mensaje }}</p>
      </div>
    </div>
  </section>

  <!-- Menú de la semana -->
 <div class="menu-grid">
  <div
    class="menu-card"
    *ngFor="let carta of cartas"
    (mouseenter)="carta.showFullDescription = true"
    (mouseleave)="carta.showFullDescription = false"
  >
    <div
      class="card-img"
      [style.backgroundImage]="'url(' + (carta.showFullDescription ? carta.hoverImage : carta.profileImage) + ')'"
    >
      <div class="card-overlay" *ngIf="carta.showFullDescription">
        <h3>{{ carta.day }}</h3>
        <p>{{ carta.description }}</p>
        <ul>
          <li><strong>Sopas:</strong> {{ carta.sopa }} o {{ carta.sopa2 }}</li>
          <li><strong>Platos fuertes:</strong> {{ carta.platoFuerte }} o {{ carta.platoFuerte2 }}</li>
          <li><strong>Postres:</strong> {{ carta.postre }} o {{ carta.postre2 }}</li>
          <li><strong>Jugos:</strong> {{ carta.jugo }} o {{ carta.jugo2 }}</li>
          <li><strong>Precio:</strong> {{ carta.precio }}</li>
          <li><strong>Estado:</strong> {{ carta.estado }}</li>
        </ul>
      </div>

      <div class="card-day" *ngIf="!carta.showFullDescription">
        <h3>{{ carta.day }}</h3>
      </div>
    </div>
  </div>
</div>

</div>
